

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Master - Wizard -------------------- //

// Carousel

.carousel-flickity {
    .flickity-button {
        @include display-inline-flex;

        @include align-items-center;

        justify-content         : center;
        
        z-index                 : 20;

        width                   : calc(75 / var(--vw) * var(--multiplier));
        height                  : calc(75 / var(--vw) * var(--multiplier));

        opacity                 : 1;

        background              : var(--color-white);

        border                  : calc(3 / var(--vw) * var(--multiplier)) solid var(--color-black);
        border-radius           : 0;

        &:before {
            @include display-inline-block;

            content             : '←';

            font-size           : calc(25 / var(--vw) * var(--multiplier));

            color               : var(--color-black);
        }

        &.previous {
            left                : calc(-37.5 / var(--vw) * var(--multiplier));
        }

        &.next {
            right               : calc(-37.5 / var(--vw) * var(--multiplier));

            &:before {
                transform       : rotate(180deg);                
            }
        }

        svg {
            @include display-none;
        }
    }

    @include media-breakpoint-down(md) {

        .flickity-button {
            width                   : calc(55 / var(--vw) * var(--multiplier));
            height                  : calc(55 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(15 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-27.5 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-27.5 / var(--vw) * var(--multiplier));
            }
        }
    }

    @include media-breakpoint-down(sm) {

        .flickity-button {
            width                   : calc(40 / var(--vw) * var(--multiplier));
            height                  : calc(40 / var(--vw) * var(--multiplier));

            &:before {
                font-size           : calc(12 / var(--vw) * var(--multiplier));
            }

            &.previous {
                left                : calc(-20 / var(--vw) * var(--multiplier));
            }

            &.next {
                right               : calc(-20 / var(--vw) * var(--multiplier));
            }
        }
    }
}

// Split Char

.split-char {
    > span {
        white-space             : break-spaces; 
    }
}

// Body

body {
    .content {
        opacity                 : 0;

        &.page-load-progress {
            opacity             : 1;
        }

        .loader {
            @include position-fixed;
            
            @include width-100;

            pointer-events          : none;

            z-index                 : 1050;

            height                  : 100vh;

            top                     : 0;
            left                    : 0;

            background              : transparent;

            .loader-logo {
                @include position-absolute;

                @include text-align-center;

                @include font-primary;
                @include h3;

                @include text-transform-uppercase;

                @include text-decoration-none;

                color               : var(--color-white);

                letter-spacing      : calc(1 / var(--vw) * var(--multiplier));

                top                 : 50%;
                left                : 50%;

                transform           : translate(-50%, -50%);

                > span {
                    @include display-block;

                    @include overflow-hidden;

                    line-height             : 1; 

                    > span {
                        transition          : 0.75s var(--cubic-bezier-2);

                        > span {
                            opacity         : 0;
                        }
                    }

                    &.text {
                        @include mb-1;

                        > span {
                            transition-delay    : 0.15s;
                        }
                    }

                    &.caption {
                        @include small;

                        > span {
                            transition-delay    : 0.30s;
                        }
                    }

                    > span {
                        @include display-inline-block;
                    }
                }
            }
        }

        &.page-load {

            .page-wrapper {

                // Primary

                &.primary {

                }
            }

            // Navbar

            .navbar {

                // Primary

                &.primary {
                    .navbar-wrapper {

                        // Primary

                        &.primary {
                            .navbar-brand {
                                > span {
                                    > span {
                                        > span {
                                            @include display-inline-block;

                                            transform               : translateY(calc(100% + calc(25 / var(--vw) * var(--multiplier))));

                                            transition              : 2s var(--cubic-bezier-1);
                                        }
                                    }
                                }
                            }

                            .navbar-link {
                                .link {
                                    .link-navbar {
                                        > span {
                                            > span {
                                                transform           : translateY(calc(100% + calc(25 / var(--vw) * var(--multiplier))));

                                                transition          : 2s var(--cubic-bezier-1);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Wizard

            .wizard {

                // Theme

                .theme {

                    // Hero

                    &.hero {

                        // Primary

                        &.primary {
                            
                            // Content

                            .hero-content {
                                .col-content-outer {
                                    .col-content-inner {
                                        &:nth-child(1) {
                                            .content-wrapper {

                                                // Primary

                                                &.primary {
                                                    .content-image {
                                                        clip-path               : polygon(0 0, 100% 0, 100% 0, 0 0);

                                                        .image {
                                                            img {
                                                                transform       : translateY(calc(-150 / var(--vw) * var(--multiplier)));
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        &:nth-child(2) {
                                            .content-wrapper {

                                                // Primary

                                                &.primary {
                                                    .content-image {
                                                        clip-path               : polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);

                                                        .image {
                                                            img {
                                                                transform       : translateY(calc(150 / var(--vw) * var(--multiplier)));
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                .content-wrapper {

                                    // Primary

                                    &.primary {
                                        .content-image {
                                            height                          : 100vh;

                                            transition                      : 1.5s var(--cubic-bezier-2);

                                            .image {
                                                img {
                                                    transition              : 1.5s var(--cubic-bezier-2);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.page-load-progress {

        }

        &.page-load-complete {

            // Navbar

            .navbar {

                // Primary

                &.primary {
                    .navbar-wrapper {

                        // Primary

                        &.primary {
                            .navbar-brand {
                                > span {
                                    > span {
                                        > span {
                                            transform                       : translateY(0);

                                            @for $i from 1 through 20 {
                                                &:nth-child(#{$i}) {
                                                    transition-delay        : #{($i - 1) * 0.035 + 0.25}s;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            .navbar-link {
                                .link {
                                    .link-navbar {
                                        > span {
                                            > span {
                                                transform                   : translateY(0);     
                                                
                                                transition-delay            : 0.45s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Wizard

            .wizard {

                // Theme

                .theme {

                    // Hero

                    &.hero {

                        // Primary

                        &.primary {
                            
                            // Content

                            .hero-content {
                                .col-content-outer {
                                    .col-content-inner {
                                        &:nth-child(1) {
                                            .content-wrapper {

                                                // Primary

                                                &.primary {
                                                    .content-image {
                                                        clip-path               : polygon(0 0, 100% 0, 100% 100%, 0% 100%);

                                                        .image {
                                                            img {
                                                                transform       : translateY(0);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        &:nth-child(2) {
                                            .content-wrapper {

                                                // Primary

                                                &.primary {
                                                    .content-image {
                                                        clip-path               : polygon(0 100%, 100% 100%, 100% 0, 0 0);

                                                        .image {
                                                            img {
                                                                transform       : translateY(0);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Page

.page {
    .page-content {
        @include position-relative;

        z-index             : 20;
    }
}



// Navbar

.navbar {

    // Primary

    &.primary {
        @include position-absolute;

        @include width-100;

        @include p-0;

        pointer-events              : auto;

        z-index                     : 1040;

        height                      : 100vh;

        transition                  : 0.75s var(--cubic-bezier-1);

        &.scroll {
            pointer-events          : none;

            opacity                 : 0;
        }

        .navbar-wrapper {

            // Primary

            &.primary {
                @include position-fixed;

                @include width-100;

                z-index                 : 1040;

                top                     : 34%;
                
                transform               : translateY(-50%);

                .container {
                    @include p-0;
                }

                .col-wrapper-outer {
                    @include col-12;

                    .col-wrapper-inner {
                        @include col-3;

                        &:nth-child(3) {
                            @include col-2;

                            @include ml-auto;
                        }

                        &:nth-child(4) {
                            @include col-2;

                            @include text-align-right;
                        }
                    }
                }

                .navbar-brand {
                    @include position-fixed;

                    @include text-align-center;

                    @include m-0;

                    @include font-primary;
                    @include h3;

                    @include text-transform-uppercase;

                    @include text-decoration-none;

                    color                   : var(--color-white);

                    letter-spacing          : calc(1 / var(--vw) * var(--multiplier));

                    top                     : -6.5%;
                    left                    : 50%;

                    transform               : translateX(-50%);

                    &.hide {
                        > span {
                            &.text {
                                > span {
                                    transition-delay    : 0.25s;
                                }
                            }

                            &.caption {
                                > span {
                                    transition-delay    : 0s;
                                }
                            }

                            > span {
                                transform               : translateY(-100%);

                                opacity                 : 0;
                            }
                        }
                    }

                    > span {
                        @include display-block;

                        @include overflow-hidden;

                        line-height         : 1; 

                        &.text {
                            @include mb-1;

                            > span {
                                transition-delay    : 0.25s;
                            }
                        }

                        &.caption {
                            @include small;

                            > span {
                                transition-delay    : 0.5s;
                            }
                        }

                        > span {
                            @include display-inline-block;
                        }
                    }
                }

                .navbar-button {
                    @include position-fixed;

                    z-index                     : 1050;

                    top                         : -5%;
                    left                        : 50%;

                    transform                   : translateX(-50%) scale(0);

                    &.show {
                        transition-delay        : 0.25s;

                        transform               : translateX(-50%) scale(1);
                    }

                    > span {
                        @include display-inline-flex;

                        @include align-items-center;

                        justify-content             : center;

                        width                       : calc(45 / var(--vw) * var(--multiplier));
                        height                      : calc(45 / var(--vw) * var(--multiplier));

                        border                      : calc(1 / var(--vw) * var(--multiplier)) solid var(--color-white);
                        border-radius               : 100%;

                        transition                  : unset;

                        svg {
                            width                   : calc(15 / var(--vw) * var(--multiplier));
                            height                  : calc(15 / var(--vw) * var(--multiplier));

                            path {
                                fill                : var(--color-white);
                            }
                        }
                    }
                }

                .navbar-menu {
                    pointer-events                  : none;

                    &.point-auto {
                        pointer-events              : auto;
                    }

                    &.active {
                        .menu-link {
                            .link {
                                opacity             : 1;

                                transform           : translateY(0);
                                
                                @for $i from 1 through 10 {

                                    &:nth-child(#{$i}) {
                                        transition-delay    : #{($i - 1) * 0.10 + 0.20}s;
                                    }
                                }
                            }
                        }
                    }

                    .menu-link {
                        .link {
                            width                       : max-content;
                            
                            opacity                     : 0;

                            transform                   : translateY(calc(15 / var(--vw) * var(--multiplier)));

                            transition                  : 0.75s var(--cubic-bezier-1);

                            @for $i from 1 through 10 {

                                &:nth-last-child(#{$i}) {
                                    transition-delay    : #{($i - 1) * 0.05}s;
                                }
                            }
                        }
                    }
                }
            }
        }

        .navbar-background {
            @include display-flex;

            @include position-fixed;

            pointer-events              : none;

            z-index                     : 10;

            width                       : calc(100% +  calc(40 / var(--vw) * var(--multiplier)));

            top                         : 0;
            left                        : 0;

            transform                   : translateX(calc(-21 / var(--vw) * var(--multiplier)));

            .background {
                @include display-block;

                width                   : 50%;
                height                  : 100vh;

                background              : rgba($color-black, 1);

                clip-path               : polygon(0 0, 100% 0, 100% 0, 0 0);

                transition              : 1s var(--cubic-bezier-2);

                &.active {
                    clip-path           : polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                }
            }
        }
    }
}

// Footbar

.footbar {

    // Primary

    &.primary {
        background                      : var(--color-primary);

        .container {
            @include py-0;

            max-width                   : 85%;
        }

        .footbar-wrapper {
            
            // Primary

            &.primary {
                .wrapper-inner {
                    > .outer {
                        @include display-flex;

                        @include py-3;

                        justify-content         : space-between;
                        
                        flex-direction          : column;

                        height                  : 87.5vh;
                    }
                }
            }
        }

        .footbar-logo {
            @include display-flex;

            @include align-items-center;

            justify-content             : center;

            .logo {
                > span {
                    @include font-primary;

                    @include text-transform-uppercase;

                    font-size           : calc(275 / var(--vw) * var(--multiplier));
                    
                    letter-spacing      : calc(40 / var(--vw) * var(--multiplier));
                }
            }
        }

        .footbar-caption {
            @include text-align-center;

            .caption {
                > span {
                    @include font-primary;
                    @include h4;

                    @include text-transform-uppercase;

                    letter-spacing     : calc(1 / var(--vw) * var(--multiplier));
                }
            }
        }

        .footbar-link {
            @include display-flex;

            @include align-items-center;

            justify-content             : space-between;
        }

        @include media-breakpoint-down(lg) {

            .footbar-logo {
                .logo {
                    > span {
                        font-size           : calc(175 / var(--vw) * var(--multiplier));
                        
                        letter-spacing      : calc(30 / var(--vw) * var(--multiplier));
                    }
                }
            }

            .footbar-caption {
                .caption {
                    > span {
                        @include h5;
                    }
                }
            }
        }

        @include media-breakpoint-down(sm) {

            .footbar-logo {
                .logo {
                    > span {
                        font-size           : calc(70 / var(--vw) * var(--multiplier));
                        
                        letter-spacing      : calc(10 / var(--vw) * var(--multiplier));
                    }
                }
            }

            .footbar-caption {
                .caption {
                    > span {
                        @include p;
                    }
                }
            }

            .footbar-link {
                flex-direction              : column;

                .link {
                    @include mb-2;

                    &:last-child {
                        @include mb-0;
                    }
                }
            }
        }
    }
}

// Menu

.menu-overlay {
    @include position-fixed;

    @include display-block;

    @include width-100;
    @include height-100;

    pointer-events      : none;

    z-index             : 1020;

    top                 : 0;
    left                : 0;

    opacity             : 0;
    
    background          : rgba($color-black, 0.35);

    transition          : 1s var(--cubic-bezier-2);

    &.active {
        opacity         : 1;
    }
}

// Wizard

.wizard {
    @include overflow-hidden;

    section {
        @include position-relative;

        z-index                 : 10;

        background              : var(--color-black);
    }

    // ----- Main - Theme ----- //

    .theme {

        // Hero

        &.hero {

            // Primary

            &.primary {
                @include position-relative;

                // Content

                .hero-content {
                    @include overflow-hidden;

                    height              : 100vh;

                    .container-fluid {
                        @include p-0;
                    }

                    .col-content-outer {
                        @include col-12;

                        .col-content-inner {
                            @include col-6;

                            @include px-0;

                            &:nth-child(1) {
                                .content-wrapper {

                                    // Primary

                                    &.primary {
                                        .content-carousel {
                                            .carousel-cell {
                                                clip-path                   : inset(100% 0 0 0);

                                                img {
                                                    transform               : translateY(calc(150 / var(--vw) * var(--multiplier)));
                                                }

                                                &.leaving {
                                                    clip-path               : inset(0 0 100% 0);

                                                    img {
                                                        transform           : translateY(calc(-150 / var(--vw) * var(--multiplier)));
                                                    }
                                                }

                                                &.active {
                                                    clip-path               : inset(-0.5% 0 0 0);

                                                    img {
                                                        transform           : translateY(0);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }     
                            }

                            &:nth-child(2) {
                                .content-wrapper {

                                    // Primary

                                    &.primary {
                                        .content-carousel {
                                            .carousel-cell {
                                                clip-path                   : inset(0 0 100% 0);

                                                img {
                                                    transform               : translateY(calc(-150 / var(--vw) * var(--multiplier)));
                                                }

                                                &.leaving {
                                                    clip-path               : inset(100% 0 0 0);

                                                    img {
                                                        transform           : translateY(calc(150 / var(--vw) * var(--multiplier)));
                                                    }
                                                }

                                                &.active {
                                                    clip-path               : inset(0 0 -0.5% 0);

                                                    img {
                                                        transform           : translateY(0);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }      
                            }
                        }
                    }

                    .content-wrapper {

                        // Primary

                        &.primary {
                            .content-carousel {
                                @include overflow-hidden;

                                .carousel-cell {
                                    @include position-absolute;

                                    top                         : 0;
                                    left                        : 0;

                                    transition                  : 2s var(--cubic-bezier-2);

                                    img {
                                        transition              : 2s var(--cubic-bezier-2);
                                    }
                                }
                            }

                            .content-image {
                                @include position-relative;

                                @include overflow-hidden;
                                
                                pointer-events              : none;

                                z-index                     : 1020;

                                opacity                     : 0;

                                &.active {
                                    opacity                 : 1;

                                    transition              : 0.25s ease !important;
                                }

                                .image {
                                    @include position-absolute;

                                    top                     : 0;
                                    left                    : 0;

                                    &.image-collection, &.image-navigation {
                                        opacity             : 0;

                                        transform           : scale(1.075);

                                        transition          : transform 1.5s var(--cubic-bezier-5), opacity 0.25s;

                                        &.active {
                                            opacity         : 1;

                                            transform       : scale(1);
                                        }
                                    }

                                    img {
                                        transform           : scale(1.025);
                                    }
                                }
                            }
                        }
                    }
                }

                @include media-breakpoint-down(md) {

                    // Content

                    .hero-content {
                        .content-wrapper {

                            // Primary

                            &.primary {
                                > div {
                                    height                  : 100vh;

                                    > div {
                                        height              : 100vh;

                                        > div {
                                            height          : 100vh;
                                        }

                                        img {
                                            object-fit      : cover;

                                            height          : 100vh;
                                        }
                                    }
                                }    
                            }
                        }
                    }
                }

                @include media-breakpoint-down(sm) {

                    // Content

                    .hero-content {
                        .col-content-outer {
                            .col-content-inner {
                                @include col-12;
                            }
                        }

                        .content-wrapper {

                            // Primary

                            &.primary {
                                > div {
                                    @include width-100;

                                    height                  : 50vh;

                                    > div {
                                        @include width-100;

                                        height              : 50vh;

                                        > div {
                                            @include width-100;

                                            height          : 50vh;
                                        }

                                        img {
                                            @include width-100;

                                            height          : 50vh;
                                        }
                                    }
                                }

                                .content-carousel {
                                    .carousel-cell {
                                        .cell-outer {
                                            transform       : translate(0) !important;
                                        }
                                    }
                                }

                                .content-image {
                                    @include display-none;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}


