

// Utitlities

@import "../../Scss-Utilities/Utilities.scss";

// -------------------- Global - Font -------------------- //

// Font - Primary

@font-face {
  font-family       : 'Raymond';
  font-style        : normal;
  font-weight       : 500;
  src               : url('/assets/fonts/Raymond/Raymond-Medium.otf');
  font-display      : swap;
}

// Font - Secondary

@font-face {
  font-family       : 'Spectral';
  font-style        : normal;
  font-weight       : 300;
  src               : url('/assets/fonts/Spectral/Spectral-Light.ttf');
  font-display      : swap;
}

@font-face {
  font-family       : 'Spectral';
  font-style        : normal;
  font-weight       : 400;
  src               : url('/assets/fonts/Spectral/Spectral-Regular.ttf');
  font-display      : swap;
}

@font-face {
  font-family       : 'Spectral';
  font-style        : normal;
  font-weight       : 500;
  src               : url('/assets/fonts/Spectral/Spectral-Medium.ttf');
  font-display      : swap;
}

@font-face {
  font-family       : 'Spectral';
  font-style        : normal;
  font-weight       : 600;
  src               : url('/assets/fonts/Spectral/Spectral-SemiBold.ttf');
  font-display      : swap;
}

@font-face {
  font-family       : 'Spectral';
  font-style        : normal;
  font-weight       : 700;
  src               : url('/assets/fonts/Spectral/Spectral-Bold.ttf');
  font-display      : swap;
}

@font-face {
  font-family       : 'Spectral';
  font-style        : normal;
  font-weight       : 800;
  src               : url('/assets/fonts/Spectral/Spectral-ExtraBold.ttf');
  font-display      : swap;
}